 <nav>
      <div class="site-title">
     <a href="/"><h1>Mucu's Blog</h1></a>
      <p>A tech advocacy site</p>
      </div>
      <ul>
        <li><a href="/"> Blogs </a></li>
        <li><a href="/about"> About </a></li>
        <li><a href="/blogs/create"> New Blog </a></li>
      </ul>
        <a href="/"> Home Page</a>
        <a href="/about"> About Page</a>
    </nav>
